.navbar-item { color: #cfcfcf !important;}
.navbar-link { color: #cfcfcf !important;}
.navbar-link::after { border-color: #cfcfcf !important;}
.navbar-dropdown > .navbar-item { color: #363636 !important}
.navbar-dropdown > .navbar-divider { background-color: #363636 !important; height: 1px;}


.hero {
background: linear-gradient(180deg, #e12b38, #e56b1f);}

.title, .subtitle {
  color: #eee;}

.is-dark {
  background-color: #333 !important;
  border-bottom: 1px solid #f1f1f1 !important;
}

.is-size-1 {
  color: #363636 !important;
  /* font-style: 'Roboto', sans-serif !important;
  text-transform: uppercase;
  font-weight: 400; */
}

.card {
  border: 1px solid #e12b38;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(229,107,31,0.5);
  box-shadow: 1px 1px 4px 0px rgba(229,107,31,0.5);
}

.is-carbon {
  color: #363636;
}
